<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">        
        <link rel="stylesheet" href="./static/styles.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
        <title>um-Biased?</title>
    </head>

    <body>
        <div class="container pt-2">

		<nav class="nav-bar">
			<div class="nav nav-pills nav-fill" id="nav-tab" role="tablist">
				<a class="nav-item nav-link active" id="nav-algo-tab" data-toggle="tab" href="#nav-algo" role="tab" aria-controls="nav-algo" aria-selected="true" style="margin-right: 3px">
					How our model work?
				</a>
				<a class="nav-item nav-link" id="nav-pattern-tab" data-toggle="tab" href="#nav-pattern" role="tab" aria-controls="nav-pattern" aria-selected="false" style="margin-left: 3px">
					What's the pattern?
				</a>
			</div>
		</nav>

		<div class="tab-content" id="nav-tabContent">
			<div class="tab-pane fade show active" id="nav-algo" role="tabpanel" aria-labelledby="nav-algo-tab">
				{% include "algo.html" %}
			</div>
			<div class="tab-pane fade" id="nav-pattern" role="tabpanel" aria-labelledby="nav-pattern-tab">
				{% include "pattern.html" %}
			</div>
		</div>

    </body>

</html>







