<div>
	<div class="row">
		<div class="col">

			<div class="row mt-2 mb-2">
				<div class="col-11">
					<div class="card border-0 card-pattern">
						<div class="row">
							<div class="col-6">
						        <div id='plot-group-saving-amount'></div>
						    </div>
							<div class="col-6">
							    <div id='plot-group-saving-diff'></div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-1">
					<div class="card border-0 card-pattern-label justify-content-center">
						<span>
							Saving Account
						</span>
					</div>
				</div>
			</div>

			<div class="row mt-2 mb-2">
				<div class="col-11">
					<div class="card border-0 card-pattern">
						<div class="row">
							<div class="col-6">
						        <div id='plot-group-current-amount'></div>
						    </div>
							<div class="col-6">
							    <div id='plot-group-current-diff'></div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-1">
					<div class="card border-0 card-pattern-label justify-content-center">
						<span>
							Current Account
						</span>
					</div>
				</div>
			</div>

			<div class="row mt-2 mb-2">
				<div class="col-11">
					<div class="card border-0 card-pattern">
						<div class="row">
							<div class="col-6">
						        <div id='plot-group-credit-amount'></div>
						    </div>
							<div class="col-6">
							    <div id='plot-group-credit-diff'></div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-1">
					<div class="card border-0 card-pattern-label justify-content-center">
						<span>
							Credit Card
						</span>
					</div>
				</div>
			</div>

		</div>
	</div>

	<div class="row">
		<div class="col">
			<div>
				<div class="btn-group btn-group-toggle btn-block" data-toggle="buttons">
					<label class="btn btn-primary active">
						<input type="radio" name="options-cd" value="debit" autocomplete="off" checked>Debit
					</label>
					<label class="btn btn-primary">
						<input type="radio" name="options-cd" value="credit" autocomplete="off">Credit
					</label>
				</div>
			</div>
		</div>
	</div>

</div>